# =========================
# Visual Studio
# =========================
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sdf
*.ipch
*.opensdf
*.tlog/
*.lastbuildstate
*.ncb
*.cachefile

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# Build artifacts
# =========================
# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Object files
*.o
*.obj
*.slo
*.lo

# Precompiled headers
*.gch
*.pch

# Static libraries
*.lib
*.a
*.lai
*.la

# Dynamic libraries
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Linker files
*.ilk

# Debugger files
*.pdb
*.dwo

# Fortran modules
*.mod
*.smod

# =========================
# Folders
# =========================
Debug/
Release/
x64/
x86/
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temporary
# =========================
*.log
*.tmp
*.temp
